#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: black;
  border-radius: 10px;
}
.wraper{
  display: flex;
  flex-direction: column;
}
input{
  outline: none;
  border:2px solid rgb(11, 198, 231);
  background-color: transparent;
}
.button1{
  background-color: #0875b4;
}
.button2{
  background-color: #249d08;
}